@import url("normalize.css");
@import url("fonts.css");

.blue {
  background-color: #1d2951;
}
.gray {
  background-color: #e9efef;
}
.white {
  background-color: #fefef9;
}
.pink {
  background-color: #fef2f6;
}
.poppy {
  background-color: #e42f0c;
}

body {
  color: #363636;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin: 0;
}

header {
  background-color: #303030;
  background-image: url("../images/kyle.jpg"), url("../images/liz.jpg");
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  background-size: 51%;
  box-sizing: border-box;
  color: #fff;
  font-family: "StrangeloveText", Helvetica, Arial, sans-serif;
  height: 300px;
  position: relative;
  text-align: center;
}

header p {
  bottom: 10px;
  font-size: 47px;
  margin: 0;
  position: absolute;
  width: 100%;
}

h1 {
  font-size: 120px;
  font-weight: normal;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

h2 {
  font-family: "StrangeloveText";
  font-size: 72px;
  font-weight: normal;
  line-height: 1;
  margin: 0 0 20px;
}

h3 {
  font-weight: normal;
  margin: 0 0 10px;
}

section div {
  margin: 0 auto;
}
section p {
  line-height: 1.4;
  margin: 0 0 1em;
}
section p:last-child {
  margin-bottom: 0;
}

a {
  color: #1d2951;
}
a:hover,
a:active {
  color: #e42f0c;
}

.aloha {
  background: #fef2f6 url("../images/hibiscus.png") no-repeat 4% 40px;
  padding: 40px 20px;
}

.festivities {
  background-color: #e9efef;
  padding: 40px 20px;
}

@media (min-width: 480px) {
  body {
    min-width: 480px;
  }
  header {
    background-position: 0 25%, 100% 25%;
    background-size: 30%;
    height: 210px;
  }
  header p {
    font-size: 32px;
  }
  h1 {
    font-size: 82px;
  }
}

@media (min-width: 768px) {
  header {
    background-position: 0 -60px, 100% -60px;
    background-size: 51%;
    height: 660px;
  }
  header p {
    bottom: 30px;
    font-size: 105px;
  }
  h1 {
    font-size: 276px;
  }
  section div {
    width: 620px;
  }
  .aloha {
    font-size: 24px;
    padding: 220px 0 150px;
  }
  .festivities {
    background: #e9efef url("../images/anna-ranch.jpg") no-repeat 80% 50%;
    padding: 150px 0;
  }
  .festivities h2 {
    margin-bottom: 50px;
  }
}

@media (min-width: 1024px) {
  header {
    background-position: 0 25%, 100% 25%;
  }
}

@media (min-width: 1200px) {
  header {
    height: 800px;
  }
  h1 {
    top: 40px;
  }
  header p {
    bottom: 50px;
  }
}