@import url("normalize.css");
@import url("fonts.css");

/*
.blue {
  background-color: #1d2951;
}
.gray {
  background-color: #e9efef;
}
.white {
  background-color: #fefef9;
}
.pink {
  background-color: #fef2f6;
}
.poppy {
  background-color: #e42f0c;
}
*/
.green {
  background-color: rgb(112, 117, 15);
}
.dark-grey {
  background-color: rgb(176, 174, 178);
}
.cream {
  background-color: rgb(254, 249, 242);
}
.light-grey {
  background-color: rgb(248, 241, 243);
}
.medium-grey {
  background-color: rgb(246, 233, 239);
}
.magenta {
  background-color: rgb(190, 57, 112);
}
.coral {
  background-color: rgb(233, 63, 55);
}

body {
  color: #565656;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  line-height: 1.4;
  margin: 0;
}

header {
  background-color: rgb(176, 174, 178);
  background-image: url("../images/kyle.jpg"), url("../images/liz.jpg");
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  background-size: 51%;
  box-sizing: border-box;
  color: #fff;
  font-family: "StrangeloveText", Helvetica, Arial, sans-serif;
  height: 300px;
  position: relative;
  text-align: center;
}

header p {
  bottom: 10px;
  font-size: 47px;
  margin: 0;
  position: absolute;
  width: 100%;
}

h1 {
  font-size: 120px;
  font-weight: normal;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

h2 {
  font-family: "StrangeloveText";
  font-size: 72px;
  font-weight: normal;
  line-height: 1;
  margin: 0 0 20px;
}

h3 {
  font-weight: normal;
  margin: 0 0 10px;
}

section div {
  margin: 0 auto;
}
section p {
  line-height: 1.4;
  margin: 0 0 1em;
}
section p:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
}
a:hover,
a:active {
  color: rgb(233, 63, 55);
}

.aloha {
  background: rgb(246, 233, 239) url("../images/hibiscus.png") no-repeat 4% 40px;
  padding: 40px 20px;
}

.festivities {
  background-color: rgb(112, 117, 15);
  color: #fefef9;
  padding: 40px 20px;
}

.getting-there {
  background-color: #6B6B6B;
  color: #fff;
  padding: 40px 20px;
}

.accommodations {
  background-color: rgb(248, 241, 243);
  padding: 40px 20px;
}

@media (min-width: 480px) {
  body {
    min-width: 480px;
  }
  header {
    background-position: 0 25%, 100% 25%;
    background-size: 30%;
    height: 210px;
  }
  header p {
    font-size: 32px;
  }
  h1 {
    font-size: 82px;
  }
}

@media (min-width: 768px) {
  header {
    background-position: 0 -60px, 100% -60px;
    background-size: 51%;
    height: 660px;
  }
  header p {
    bottom: 30px;
    font-size: 105px;
  }
  h1 {
    font-size: 276px;
  }
  section div {
    width: 620px;
  }
  .aloha {
    font-size: 24px;
    padding: 220px 0 200px;
  }
  .festivities {
    background: rgb(112, 117, 15) url("../images/anna-ranch.jpg") no-repeat 20% 50%;
    padding: 220px 0;
    text-align: right;
  }
  .festivities h2,
  .getting-there h2 {
    margin-bottom: 50px;
  }
  .getting-there {
    background: #6B6B6B url("../images/hawaii.png") no-repeat 60% 10%;
    padding: 200px 0 100px;
  }
  .accommodations {
    padding: 100px 0;
  }
}

@media (min-width: 1024px) {
  header {
    background-position: 0 25%, 100% 25%;
  }
}

@media (min-width: 1200px) {
  header {
    height: 800px;
  }
  h1 {
    top: 40px;
  }
  header p {
    bottom: 50px;
  }
}