@import url("normalize.css");
@import url("fonts.css");

.red {
  color: #ff665e;
}
.purple {
  color: #bb569d;
}
.citron {
  color: #dbe200;
}
.warm-gray {
  color: #827c78;
}
.cool-gray {
  color: #c5c5c5;
}
.dark-gray {
  color: #595955;
}

body {
  color: #595955;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  line-height: 1.4;
  margin: 0;
}

header {
  background-color: #827c78;
  background-image: url("../images/kyle.jpg"), url("../images/liz.jpg");
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  background-size: 51%;
  box-sizing: border-box;
  color: #fff;
  font-family: "StrangeloveText", Helvetica, Arial, sans-serif;
  height: 300px;
  position: relative;
  text-align: center;
}

header p {
  bottom: 10px;
  font-size: 47px;
  margin: 0;
  position: absolute;
  width: 100%;
}

h1 {
  font-size: 120px;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

h2 {
  font-family: "StrangeloveText";
  font-size: 72px;
  font-weight: normal;
  line-height: 1;
  margin: 0 0 20px;
}

h3 {
  font-weight: normal;
  margin: 0 0 10px;
}

section div {
  margin: 0 auto;
}
section p {
  line-height: 1.4;
  margin: 0 0 1em;
}
section p + h3 {
  margin-top: 2.5em;
}
section p:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
}
a:hover,
a:active {
  color: rgb(233, 63, 55);
}

.aloha {
  background: #dbe200 url("../images/hibiscus.png") no-repeat 4% 40px;
  padding: 40px 20px;
}

.festivities {
  background-color: #c5c5c5;
  padding: 40px 20px;
}

.getting-there {
  background-color: #827c78;
  color: #fff;
  padding: 40px 20px;
}

.accommodations {
  background-color: #ff665e;
  color: #fff;
  padding: 40px 20px;
}

.registry {
  background-color: #d557af;
  color: #fff;
  padding: 40px 20px;
}
.registry ul {
  margin: 0 0 2em;
  padding: 0;
}
.registry li {
  list-style: none;
  margin-top: 2em;
}
.registry img {
  border-width: 5px;
  border-style: solid;
  padding: 15px;
}
.heath img {
  background-color: #181511;
  border-color: #181511;
}
.heath a:hover img {
  border-color: #fff;
}
.cb img,
.cho img {
  background-color: #fff;
  border-color: #fff;
}
.cb a:hover img {
  border-color: #000;
}
.cho a:hover img {
  border-color: rgb(139, 101, 171);
}

@media (min-width: 480px) {
  body {
    min-width: 480px;
  }
  header {
    background-position: 0 25%, 100% 25%;
    background-size: 30%;
    height: 210px;
  }
  header p {
    font-size: 32px;
  }
  h1 {
    font-size: 82px;
  }
}

@media (min-width: 768px) {
  header {
    background-position: 0 -60px, 100% -60px;
    background-size: 51%;
    height: 660px;
  }
  header p {
    bottom: 30px;
    font-size: 105px;
  }
  h1 {
    font-size: 276px;
  }
  section div {
    width: 620px;
  }
  .aloha {
    font-size: 24px;
    padding: 220px 0 200px;
  }
  .festivities {
    background-image: url("../images/anna-ranch.jpg");
    background-repeat: no-repeat;
    background-position: 20% 55%;
    padding: 150px 0;
    text-align: right;
  }
  .festivities h2,
  .getting-there h2 {
    margin-bottom: 50px;
  }
  .getting-there {
    background-image: url("../images/hawaii.png");
    background-repeat: no-repeat;
    background-position: 60% 10%;
    padding: 200px 0 100px;
  }
  .accommodations {
    padding: 100px 0;
  }
  .registry {
    padding: 100px 0;
  }
}

@media (min-width: 1024px) {
  header {
    background-position: 0 25%, 100% 25%;
  }
}

@media (min-width: 1200px) {
  header {
    height: 800px;
  }
  h1 {
    top: 40px;
  }
  header p {
    bottom: 50px;
  }
}